<!DOCTYPE html>
<html>
    <head>

        <!-- make adaptive -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Innovative Trucking LLC</title>
      
        <!-- Bootstrap CSS and Java -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      
        <!-- Google Fonts -->
      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100;400;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
      
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a6b30d1326.js" crossorigin="anonymous"></script>
      
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      
        <!-- Personal CSS -->
        <link rel="stylesheet" href= "innovativecss/styles.css" type="text/css">
      </head> 
<body>

  <section id = "Title" class="formTitle colored-bg">
    <div>
      <h1 class ="formHead">Truck Cleaning Page</h1>
      <h2>Week of:</h2>
      <h2> <%= begDay %> to <%= endDay %> </h2>
    </div>
  </section>  

  <section id="main" class="colored-bg">
    <div class = "container formDiv listDiv">
      <div class = "container truckList">
        <div class = "listHead" ><h1> Current Week</h1></div>
        <div class = "listBody" >
          <ul class = "truckInfo">
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
          </ul>
        </div>
        
      </div>
      <div class="container truckList">
        <div class = "listHead"><h1> Next Week</h1></div>
        <div class = "listBody" >
          <ul class = "truckInfo">
            <li >Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
            <li>Temp Truck Info</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container formDiv">
      <iframe src="https://forms.monday.com/forms/embed/7ad79b39e1796fc5269843b453ccc10b?r=use1" width="100%" height="100%" style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);"></iframe>
    </div>
  </section>


  <!-- Footer -->

  <footer id="footer" class="white-bg">
  
    <p>© Copyright Innovative Trucking LLC</p>

  </footer>

<script type="text/javascript" src="index.js" charset="utf-8"></script>

</body>

</html>
